.header {
  height: 60px;
  background: rgba(143, 196, 195, 0.8588235294);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem 0 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header__main {
  display: none;
}

.logo {
  width: 127px;
  height: 51px;
}

.header__menu_btn {
  background: none;
  border-style: none;
  fill: rgb(0, 0, 0);
}
.header__menu_btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    padding: 0 3rem 0 3rem;
  }
  .logo {
    width: 160px;
    height: 64px;
  }
}
.services {
  position: relative;
  top: 100svh;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.services__header {
  color: #1e8a87;
  text-align: center;
  font-size: clamp(3.4rem, 5vw, 5rem);
  font-weight: 700;
  line-height: 110%; /* 44px */
  letter-spacing: 2.4px;
  margin-top: 0;
}

.services__tab_description {
  width: 320px;
  height: 420px;
  border-radius: 20px;
  background-color: #1e8a87;
  z-index: 1;
}

.services__tab_container {
  width: 320px;
  height: 510px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 10%;
  position: relative;
}

.services__tab_container .circlesvg {
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 0;
}

.services__tab_container .paintsvg {
  position: absolute;
  z-index: 3;
  text-align: center;
  top: 100px;
  left: 180px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  fill: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.services__tab_header {
  color: #fff;
  margin: 0;
  text-align: center;
  font-family: Jost;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.68px;
}

.services__tab_description {
  color: #fff;
  padding: 106px 50px 0 50px;
}

.services__description {
  margin: 0;
  text-align: center;
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.84px;
}

.services__tab_underline {
  position: relative;
  bottom: 15px;
}

.services__enlarge_btn {
  border-style: none;
  padding: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #fff;
  fill: #1e8a87;
  position: relative;
  top: 30px;
}

.services__enlarge_btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .services__container {
    gap: 100px;
    max-width: 1000px;
  }
}
@media screen and (min-width: 1000px) {
  .services__container {
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .services__container {
    gap: 20px;
    max-width: 1340px;
  }
}
.main__screen {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100svh - 60px);
  background-image: url("/src/images/photo4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 40px;
  position: absolute;
  width: 100%;
}

.main__screen_title {
  color: #fff;
  text-align: center;
  height: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: clamp(1.8rem, 3.5vw, 6rem);
  font-weight: 800;
  letter-spacing: 1.68px;
  padding-left: 10%;
  padding-right: 10%;
  position: absolute;
  top: 20%;
}

.main__screen_button {
  width: clamp(200px, 30%, 440px);
  height: clamp(70px, 9vw, 130px);
  color: #fff;
  text-align: center;
  font-size: clamp(1.4rem, 3.2vw, 3.2rem);
  font-weight: 600;
  letter-spacing: 1.44px;
  border-radius: 15px;
  opacity: 0.9;
  background: #1e8a87;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-style: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 55%;
}

@media screen and (min-width: 768px) {
  .main__screen {
    height: calc(100svh - 80px);
  }
  .main__screen_title {
    font-weight: 800;
    letter-spacing: 2.16px;
  }
}
.gallery {
  position: relative;
  top: 100svh;
}

.gallery__header {
  text-align: center;
  color: #1e8a87;
  font-size: clamp(3.4rem, 5vw, 5rem);
  font-weight: 700;
  line-height: 110%; /* 44px */
  letter-spacing: 2.4px;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.gallery__item {
  display: block;
  width: 100%;
  height: auto;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 100svh;
  max-width: 767px;
}

.faq__header {
  color: #1e8a87;
  text-align: center;
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: 700;
  line-height: 110%; /* 44px */
  letter-spacing: 2.4px;
  margin-bottom: 20px;
  margin-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.faq__questions_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10%;
  width: 100%;
}

.faq__rectangle {
  border: 1px solid rgba(0, 0, 0, 0.205);
  margin: 10px 0;
}

.faq__rectangle.active {
  border: none;
}

.accordion {
  width: 100%;
  background: #fff;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.96px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-wrap: wrap;
}

.accordion i {
  font-size: 1.5rem;
}

.active,
.accordion:hover {
  background-color: rgba(143, 196, 195, 0.2745098039);
  -webkit-box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.panel {
  padding: 0 1.2rem;
  overflow: hidden;
  display: none;
}

.panel p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.accordion,
.panel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .faq {
    max-width: 1000px;
  }
  .accordion {
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    letter-spacing: 0.96px;
  }
  .accordion i {
    font-size: 1.7rem;
  }
  .panel p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.7px;
  }
}
@media screen and (min-width: 1000px) {
  .faq {
    max-width: 1279px;
  }
  .accordion {
    padding: 1rem 1.3rem;
    font-size: 1.3rem;
    letter-spacing: 1.1px;
  }
  .accordion i {
    font-size: 1.9rem;
  }
  .panel p {
    font-size: 1.1rem;
    line-height: 1.2;
    letter-spacing: 0.7px;
  }
}
@media screen and (min-width: 1280px) {
  .faq {
    max-width: 1440px;
  }
  .accordion {
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    letter-spacing: 1.1px;
  }
  .accordion i {
    font-size: 2rem;
  }
  .panel p {
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: 0.75px;
  }
}
.marklin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  position: relative;
  top: 100svh;
}

.marklin__header {
  color: #1e8a87;
  font-size: clamp(3.4rem, 5vw, 5rem);
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
}

.marklin__text {
  margin: 0;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 134.5%; /* 32.28px */
  letter-spacing: 1.536px;
  padding-right: 10%;
  padding-left: 10%;
}

.contactform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  top: 100svh;
}

.contactform__header {
  color: #1e8a87;
  text-align: center;
  font-size: clamp(3rem, 5vw, 5rem);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 2.4px;
}

.contactform__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactform__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

.contactform__element label {
  color: #757575;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.contactform__input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 28.655px;
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
  padding: 12px;
  padding-left: 35px;
}
.contactform__input#message {
  height: 85.965px;
  padding-left: 15px;
}

.contactform__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contactform__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contactform__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contactform__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contactform__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contactform__button {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.84px;
  border-radius: 15px;
  opacity: 0.9;
  background: #1e8a87;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100px;
  height: 30px;
  border-style: none;
}

.icon {
  fill: black;
  position: absolute;
  left: 8px;
  bottom: 5px;
  padding: 0;
  margin: 0;
}

footer {
  margin-top: 40px;
  width: 100%;
  height: 300px;
  background-color: #8fc4c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 100svh;
}

.footer__logo {
  width: 210px;
  height: 85px;
  margin: 10px auto;
}

.footer__logo img {
  width: 210px;
  height: 85px;
  margin: 10px auto;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 20px;
}

.footer__invite {
  color: #000;
  font-family: Jost;
  font-size: 20px;
  font-weight: 700;
  line-height: 86%; /* 17.2px */
  letter-spacing: 0.6px;
  text-decoration-line: underline;
}

.footer__rights {
  padding: 5px;
  text-align: center;
  border-top: 1px solid black;
  color: #000;
  font-family: Jost;
  font-size: 14px;
  font-weight: 700;
  line-height: 152%; /* 21.28px */
}

.footer__info {
  color: #000;
  font-family: Jost;
  font-size: 14px;
  font-weight: 700;
  line-height: 158.687%; /* 22.216px */
  letter-spacing: 0.84px;
  text-decoration: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
  font-size: 62.5%;
  font-family: Jost;
  font-style: normal;
  line-height: normal;
  position: relative;
  margin: 0;
}

.container {
  position: relative;
}

.site_body {
  max-width: 1340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}/*# sourceMappingURL=main.css.map */