.services__header {
  text-align: center;
}
.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.services__tab {
  width: 300px;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10%;
}
.services__description {
  line-height: 200%;
}
.services__tab1 {
  border: 1px solid red;
}
.services__tab2 {
  border: 1px solid blue;
}
.services__tab3 {
  border: 1px solid green;
}
.services__enlarge_btn {
  background: none;
  border-style: none;
  position: relative;
  top: 0px;
}
.services__enlarge_btn:hover {
  cursor: pointer;
}
