.header {
  height: 60px;
  background: #8fc4c3db;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  align-items: center;
  position: absolute;
  z-index: 99;
  width: 100%;
}
.header__main {
  display: none;
}
.logo {
  width: 127px;
  height: 51px;
}

.header__contact {
  display: none;
}

.hamburger {
  position: relative;
  display: block;
  width: 45px;
  cursor: pointer;
  background: none;
  appearance: none;
  outline: none;
  border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #1e8a87;
  margin: 6px 0px;
  transition: 0.4s;
}
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -6px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
.mobile_nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 70%;
  min-height: 70%;
  display: block;
  z-index: 98;
  background-color: #8fc4c3;
  padding-top: 150px;
  transition: 0.4s;
  border-radius: 0 0 0 20px;
}
.mobile_nav.is-active {
  left: 35%;
}
.mobile_nav a {
  display: block;
  width: 100%;
  max-width: 50%;
  margin: 0 auto 16px;
  text-align: center;
  padding: 3% 6%;
  background-color: #1e8a87;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.mobile_nav a:hover {
  background-color: #22a4a0;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    padding: 0 3rem 0 3rem;
  }
  .logo {
    width: 160px;
    height: 64px;
  }
  .mobile_nav a {
    font-size: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .header__contact {
    display: flex;
    gap: 30px;

    & a {
      text-decoration: none;
      color: #0a2e2d;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1.22px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .header__icon {
    width: 20px;
    margin-right: 5px;
  }
}
@media screen and (min-width: 1280px) {
  .hamburger {
    display: none;
  }
  .mobile_nav {
    display: none;
  }
  .header__main {
    display: flex;
    gap: 20px;
    list-style: none;

    & a {
      text-decoration: none;
      color: #0a2e2d;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: 158.687%;
      letter-spacing: 1.44px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .header__contact {
    flex-direction: column;
    gap: 5px;
  }
}
@media screen and (min-width: 1440px) {
  .header__contact {
    flex-direction: row;
    gap: 30px;
  }
  .header__main {
    display: flex;
    gap: 35px;
  }
}
